<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<title>CMM001</title>
<meta name="robots" content="noindex,nofollow">
<!-- Meta Tags -->
<meta name="description"
	content="Angry Studio is a platform for web designers and developers where we share free website templates, UI snippets and high-quality web dev tutorials.">
<!--  Search Engine Tags -->
<meta itemprop="name"
	content="Angry Studio - Free Website Templates, UI Snippets and Web Dev Tutorials">
<meta itemprop="description"
	content="Angry Studio is a platform for web designers and developers where we share free website templates, UI snippets and high-quality web dev tutorials.">
<meta itemprop="image"
	content="https://angrystudio.com/featured-image.png">

<!-- Twitter Cards Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title"
	content="Angry Studio - Free Website Templates, UI Snippets and Web Dev Tutorials">
<meta name="twitter:description"
	content="Angry Studio is a platform for web designers and developers where we share free website templates, UI snippets and high-quality web dev tutorials.">
<meta name="twitter:image"
	content="https://angrystudio.com/featured-image.png">
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i,800,800i,900,900i"
	rel="stylesheet">
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0/css/all.min.css"
	rel="stylesheet">
<link href="assets/css/bootstrap.min.css" rel="stylesheet">
<link href="assets/css/style.css" rel="stylesheet">
<link href="assets/css/scr.css" rel="stylesheet">
<link href="assets/css/gridCMM001.css" rel="stylesheet">
</head>


<body>

	<header class="hk-header">
		<nav class="navbar navbar-expand-lg fixed-top navbar-light hk-navbar">
			<div class="container">
				<!--<a class="navbar-brand" href="#"><img src="assets/images/brand.png"></a>-->
				<img style="margin-right: 50px; height: 45px; width: 45px;"
					src="assets/images/3s.png"> <a class="navbar-brand" href="COM002">3S-Intern</a>
				<button class="navbar-toggler p-0 border-0" type="button"
					data-toggle="offcanvas">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse hk-offcanvas" id="navbarsExampleDefault">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active"><a class="nav-link" href="COM002">Home
								<span class="sr-only">(current)</span>
						</a></li>
						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" href="https://example.com"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Main
								import / Maintenance</a>
							<div class="dropdown-menu" aria-labelledby="drop-down01">
								<a class="dropdown-item" href="CMM001">User Settings</a> <a
									class="dropdown-item" href="CMM002">Template Settings</a>
							</div></li>
						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" href="https://example.com"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Enter/Review
								daily report</a>
							<div class="dropdown-menu" aria-labelledby="">
								<a class="dropdown-item" href="DRI001">Daily report entry</a> <a
									class="dropdown-item" href="DRI002">View daily report</a>
							</div></li>
						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" href="https://example.com"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Check</a>
							<div class="dropdown-menu" aria-labelledby="dropdown01">
								<a class="dropdown-item" href="DRC001">Compare with working
									hours</a> <a class="dropdown-item" href="DRC002">Checks have
									not been approved</a>
							</div></li>
						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" href="https://example.com"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Data
								Output</a>
							<div class="dropdown-menu" aria-labelledby="dropdown01">
								<a class="dropdown-item" href="DRE001">Dumping daily report
									data</a> <a class="dropdown-item" href="DRE002">Request device
									status</a>
							</div></li>
					</ul>
					<ul class="navbar-nav ml-auto">
						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" href="https://example.com"
							id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
							aria-expanded="false"><i class="far fa-user"></i></a>
							<div class="dropdown-menu" aria-labelledby="dropdown01">
								<a th:text="${session.USERNAME}" class="dropdown-item" href="#">Username</a>
								<a class="dropdown-item" href="/logout">Logout</a>
							</div></li>
					</ul>

				</div>
			</div>
		</nav>
	</header>
	<div style="padding: auto;" class="grid-container">
		<div>
			<a href="javascript:history.back();"><img
				style="position: absolute; bottom: auto; top: auto; margin-left: auto; width: 30px; height: 30px;"
				src="assets/images/back.png"></a>
		</div>
		<p &nbsp></p>
		<div>
			<p
				style="border: 2px solid grey; border-radius: 24px; width: 120px; height: 35px; font-size: 15px;"
				th:text="'YEAR|'+${YEAR}"></p>
		</div>

		<div style="font-size: 15px; text-align: left;">
			<select name="#" id="#">
				<optgroup label="Department">
					<option value="#">Department 1</option>
					<option value="#">Department 2</option>
					<option value="#">Department 3</option>
				</optgroup>
			</select>
		</div>
		<div style="text-align: left; font-size: 15px;">
			<input type="radio" value="Install the browser user">   <label>Install
				the browser user</label>   <input type="radio"
				value="Clear approver settings">   <label>Clear
				approver settings</label>
		</div>
		<div>
				
			
				<a href = "#" type="submit" class="btn btn-primary btn-block btn-lg"
					
					style="position: absolute; color: white; background-color: green; font-size: 15px; border-radius: 24px; width: 100px; padding: 5px;">List
				</a>
		</div>
		<div>
			
			<a href="listApp" type="submit"
				style="position: absolute; color: white; background-color: blue; font-size: 15px; border-radius: 24px; width: 100px; padding: 5px;">Update
			</a>
		</div>
	</div>


	<section class="services-section hk-section section-bg">

		<div class="container">
			<div class="grid-container">
				<div class="service-box text-center">
					<h3 style="font-size: 15px;" class="service-box-title">Browse
						to date converters (1 ~ 3)</h3>
					<hr>
					<p class="service-box-desc"></p>

					<p
						style="border: 2px solid grey; border-radius: 24px; width: 160px; height: 35px; font-size: 15px;"
						th:text="'Approver|asd'"></p>
					<p
						style="border: 2px solid grey; border-radius: 24px; width: 160px; height: 35px; font-size: 15px;"
						th:text="'Approver|asd'"></p>
					<p
						style="border: 2px solid grey; border-radius: 24px; width: 160px; height: 35px; font-size: 15px;"
						th:text="'Approver|asd'"></p>

				</div>
				<p &nbsp></p>
				<div class="service-box text-center">

					<h3 style="font-size: 15px;" class="service-box-title">Conversion
						date</h3>

					<input style="font-size: 15px;" type="date" name="bday">
				</div>
				<p &nbsp></p>
				<div class="service-box text-center">
					<h3 style="font-size: 15px;" class="service-box-title">Approver
						after the switching date (1 ~ 3)</h3>
					<p class="service-box-desc"></p>
					<hr>
					<p class="service-box-desc"></p>

					<p
						style="border: 2px solid grey; border-radius: 24px; width: 160px; height: 35px; font-size: 15px;"
						th:text="'Approver|asd'"></p>
					<p
						style="border: 2px solid grey; border-radius: 24px; width: 160px; height: 35px; font-size: 15px;"
						th:text="'Approver|asd'"></p>
					<p
						style="border: 2px solid grey; border-radius: 24px; width: 160px; height: 35px; font-size: 15px;"
						th:text="'Approver|asd'"></p>
				</div>
				<p &nbsp></p>
				<div class="service-box text-center">

					<h3 style="font-size: 15px; margin: auto;"
						class="service-box-title">
						<div style="text-align: left;">
							<input type="checkbox"> <label>Test</label>
						</div>
						<div style="text-align: right; margin-top: -35px;">
							<button type="submit"
								style="color: white; background-color: blue; font-size: 15px; border-radius: 24px; width: 100px; padding: 5px;">Choice</button>
						</div>

					</h3>


					<hr>
					<div class="scroller">
						<table style="width: 200px; text-align: left; font-size: 15px;">

							<tbody>

								<tr th:each="item: ${USERS}">
									<td><input type="checkbox"></td>

									<td style="padding: 5px;"
										th:text="${item.id} + ': '+ ${item.fullname}"></td>

								</tr>
							</tbody>

						</table>
					</div>
				</div>
			</div>

		</div>
	</section>



	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script>
		$(function() {
			'use strict'

			$('[data-toggle="offcanvas"]').on('click', function() {
				$('.hk-offcanvas').toggleClass('open')
			})
		})
	</script>
</body>
</html>



